*{
    margin: 0;
    padding: 0;
    font-family: arial;
}

/* Heading section */

.header{
    background: url("images/banner/banner3.png"), lightgray 50% / cover no-repeat;
    width: 1600px;
    height: 808px;
    flex-shrink: 0;
}
.head-title{
    /* display: flex; */
    width: 525px;
    /* flex-direction: column;
    flex-shrink: 0; */
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.head-description{
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* display: flex; */
    width: 494px;
    /* flex-direction: column;
    flex-shrink: 0; */
    margin-left: 25px;
}
.head-btn{
    width: 160px;
    height: 64px;
    /* flex-shrink: 0; */
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 360px;
    margin-top: 8px;
}
.head-main{
    display:flex;
    /* align-items: right; */
    flex-direction: column;
    margin-left: 845px;
    padding-top: 166px;
}
.head-all{
    margin-top: 24px;
}

/* faillure section */
.fail{
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
}
.fail-head{
    display: flex;
    width: 288px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--dark-01, #151414);
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.fail-para{
    display: flex;
    width: 416px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.fail-list{
    color: var(--dark-02, #444343);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.fail-description{
    margin-top: 370px;
    margin-right: 150px;
}
.fail-image{
    margin-top: 130px;
    margin-left: 150px;
}


/* My plans Section */

.myplan{
    display: flex;
    justify-content: space-around;
    padding: 0 200px;
    align-items: center;
    margin-bottom: 500px;
}
.myplans{
    margin-top: 220px;
    padding-bottom: 700px;
}
.myplan-head{
    text-align: center;
    margin-bottom: 90px;
    color: var(--dark-01, #151414);
    font-family: Work Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.plan-title{
    color: var(--dark-01, #151414);
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.plan-details{
    color: var(--dark-03, #737272);
    text-align: center;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.plan-img{
    width: 92.958px;
    height: 92.958px;
    flex-shrink: 0; 
    margin-left: 60px;
    margin-bottom: 20px;
}